<% include partials/header %>
<h1>You felt in love with: <%= thingVar %> </h1>
<% if(thingVar.toLowerCase() === "claudia"){ %>
  <p>Good Choice!</p>
<% } %>

<p>This is the love.ejs file</p>
<% include partials/footer %>
