<h1>register form</h1>

<form class="" action="/register" method="post">
  <input type="text" name="username" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>
<li><a href="/register">Sigh Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout!</a></li>
