<% include partials/header %>
<h1>Landing page!</h1>
<p>Welcome to yeldCamp</p>
<a href="/campgrounds">View all Campgrounds</a><br>
<a href="/campgrounds/new">Create new Campground</a><br>

<% include partials/footer %>
