h1 {
  color: rgba(68, 0, 10, .4);
  border-color: purple;
  border-width: 2px;
  border-style: solid;
}

li{
  color: green;
  border: 3px dashed;
}

h4 {
  background: rgba(255,14,80,.8)
}

/*body {
  background: url(https://static.pexels.com/photos/172289/pexels-photo-172289.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}*/
